*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	position:relative;
	z-index:0;
	height:2100px;
}
html{
	background: url(bg.jpg) no-repeat center fixed;
	background-size:cover;
}
#menu1{
	width:1536px;
	height:62px;
	border-radius:0px 0px 5px 5px;
	position:relative;
	background-color:white;
}
#menu1-contain{
	width:100%;
	height:62px;
	border-radius:0px 0px 5px 5px;
	position:fixed;
	z-index:1;
	top:0;
}
#main-name{
	font-size:40px;
	margin:0;
	font-family: 'Ubuntu', sans-serif;
	color:#5b5959;
	display:inline;
	position:absolute;
	margin-top:10px;
}
#menu-logo{
	height:45px;
	margin:auto;
	display:block;
	position:absolute;
	width:45px;
	top:10px;
	transform:translateX(100%);
	cursor:pointer;
}
#menu-logo:hover img{
	transform:scale(1.15);
}
#drop-contain{
	position:absolute;
	width:300px;
	height:200px;
	left:-252px;
	top:47px;
	visibility:hidden;
}
#drop{
	position:absolute;
	width:300px;
	height:0;
	text-align:center;
	left:0;
	background-color:white;
	font-family: 'Ubuntu', sans-serif;
	border:2px solid black;
	top:0;
	bottom:200px;
	overflow:hidden;
	opacity:0;
	transition:all 0.5s ease;
}
#drop>a{
	display:block;
	font-size:30px;
	padding-top:12px;
	transition:all 0.5s ease;
	text-decoration:none;
	color:black;
}
#menu-logo:hover #drop{
	bottom:0;
	height:200px;
	opacity:1;
}
#menu-logo:hover #drop-contain{
	visibility:visible;
}
#drop b{
	opacity:0;
	transition:all 0.5s ease;
}
#drop>a:hover{
	box-shadow:0px 2px 10px 5px black;
	border:1px solid black;
	background-color:#edeff2;
	padding-right:15px;
}
#drop>a:hover b{
	opacity:1;
}
#main{
	width:1300px;
	margin:auto;
	margin-left:150px;
	position:relative;
	height:1300px;
	margin-top:62px;
	overflow:hidden;
}
#drop-letter
{
	width:1200px;
	margin:auto;
	height:500px;
	color:white;
	font-size:50px;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	opacity:0;
	position:absolute;
	animation:bit 1s ease-out 1.2s;
	animation-fill-mode:forwards;
	background-position:50% 50%;
}
#unfaded{
	width:1200px;
	height:500px;
	position:absolute;
	top: -5px;
    left: -5px;
}
#unfaded>div{
	width:1200px;
	height:500px;
	position:relative;
}
#unfaded>div>div{
	float:left;
	width:600px;
	height:500px;
	position:relative;
	
}
@keyframes fade-out{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
#title h1:hover{
	transform:scale(1.2);
	-webkit-text-stroke-color:#42f486;
}
#title h1{
	margin:auto;
	width:550px;
	transition:transform 0.4s ease;
	height:420px;
	margin-top:40px;
	padding-top:50px;
	font-size:60px;
	position:absolute;
	font-family: 'Indie Flower', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Bree Serif', serif;
	-webkit-text-stroke-width: 1px;
	margin-top:60px;
   -webkit-text-stroke-color:#32b5fc;
   opacity:0;
   animation:fade-out 1s ease-out 2s;
   cursor:pointer;
   animation-fill-mode:forwards;
}
#faded{
	width:1200px;
	height:500px;
	background-color:black;
	opacity:0.7;
	position:relative;
	
}
@keyframes bit{
	from{
		transform: translate(0px,-200px);
		opacity:0;
	}
	to{
		transform: translate(0px,0px);
		opacity:1;
	}
}
#content{
	width:1200px;
	height:800px;
	bottom:0;
	position:absolute;
}
#ct{
	width:1200px;
	height:800px;
	bottom:0;
	position:absolute;
	background-color:black;
	opacity:0.7;
}
#wrap{
	height:800px;
	position:relative;
	opacity:0;
	animation:opa 2s ease-out 2s;
	animation-fill-mode:forwards;
}
@keyframes opa{
	from{opacity:0;}
	to{opacity:1;}
}
#wrap>div{
	height:300px;
	width:500px;
	border:2px solid white;
	margin-top:70px;
	overflow:hidden;
	position:relative;
}
#no1{
	float:left;
	margin-left:50px;
}
#no2{
	float:right;
	margin-right:50px;
}
#no3{
	clear:both;
	float:left;
	margin-left:50px;
}
#no4{
	float:right;
	margin-right:50px;
}
#wrap>div>img{
	width:500px;
	transition:all 0.8s ease;
}
#wrap>div>div{
	width:500px;
	height:300px;
	overflow:hidden;
	position:absolute;
	top:-2px;
	left:-2px;
	margin:0;
	transform:scale(0);
	transition:all 0.8s ease;
}
.name{
	height:60px;
	position:absolute;
	width:150px;
	cursor:pointer;
	background-color:white;
	margin:0;
	padding-top:10px;
	color:black;
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
	transition:all 0.4s ease;
}
.name:hover{
	background-color:black;
	color:white;
}
#name1{
	left:50px;
	top:10px;
}
#name2{
	left:650px;
	top:10px;
}
#name3{
	left:50px;
	top:380px;
}
#name4{
	left:650px;
	top:380px;
}
#wrap>div:hover div{
	transform:scale(1);
}
#wrap>div:hover img{
	opacity:0.4;
}
#wrap>div:hover .ds{
	opacity:1;
}
#wrap .ds{
	height:250px;
	width:100%;
	margin:0;
	position:absolute;
	bottom:0;
	text-align:center;
	font-size:30px;
	padding-top:20px;
	opacity:0;
	transition:all 0.5s ease 0.5s;
}
#wrap a{
	text-align:center;
	background-color:#94f730;
	color:white;
	margin:0;
	padding-left:20px;
	padding-right:20px;
	padding-top:8px;
	padding-bottom:6px;
	text-decoration:none;
	position:relative;
}
#wrap a>div{
	position:absolute;
	height:47.6px;
	left:0;
	bottom:0;
	overflow:hidden;
	transition:all 0.3s ease;
	width:166.65px;
	padding-right:166.65px;
	padding-top:47.6px;
	padding-left:0;
	padding-bottom:0;
}
#wrap a>div:hover{
	padding-right:0;
	padding-top:0;
}
#wrap a>div>p{
	padding:0;
	margin:0;
	background-color:white;
	color:#94f730;
	width:100%;
	left:0;
	bottom:0;
	height:100%;
}
#wrap ul{
	padding:0;
	margin:0;
	color:#94f730;
	font-family: 'Ubuntu', sans-serif;
	line-height:50px;
}
.text{
	font-size:40px;
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
	color:white;
	padding-top:5px;
}
#option>a{
	background-color:white;
	display:block;
	margin:auto;
	width:250px;
	margin-top:50px;
	font-size:30px;
	text-align:center;
	text-decoration:none;
	color:black;
	padding-top:5px;
	transition:all 0.5s ease;
	padding-bottom:5px;
	border:2px solid black;
}
#option>a:hover{
	background-color:black;
	color:white;
	border-color:white;
}
#cal-fade{
	background-color:black;
	opacity:0.7;
	position:relative;
	width:1200px;
	height:800px;
	margin:auto;
}
#container{
	position:relative;
	width:1200px;
	height:800px;
	margin:auto;
	top:-800px;
}
#calculator{
	position:absolute;
	background-color:black;
	right:120px;
	width:380px;
    height:500px;
    top: 250px;
    border:3px solid white;
    padding-left:8px;
    padding-top:6px;
}
#calculator>button{
	width:120px;
	height:60px;
	font-size:30px;
	float:left;
	background-color:black;
	color:white;
	border:none;
	cursor:pointer;
}
#calculator>button:active{
	font-size:20px;
}
#calculator>button:hover{
	background-color:white;
	color:black;
}
.display{
	width:500px;
	height:auto;
	position:absolute;
	left:30px;
}
.display>h1{
	position:absolute;
	font-family: 'Ubuntu', sans-serif;
}
#d1{
	top:350px;
}
#d2{
	top:450px;
}
.display>h1:first-child{
	color:white;
	font-size:40px;
}
.display>h1:nth-child(2){
	font-size:40px;
	padding-top:5px;
	height:70px;
	width:400px;
	background-color:white;
	left:150px;
	overflow-x:auto;
}
#cal-title{
	background-color: black;
    width: 1200px;
    position: absolute;
    height: 120px;
    top: 63px;
    margin-left: 160px;
    border-bottom: 3px solid white;
    overflow:hidden;
}
@keyframes letter{
	0%{
		transform:translate(0,-100px);
	}
	70%{
		transform:translate(0,20px);
	}
	100%{
		transform:translate(0,0);
	}
}
#cal-title>h1{
	color:white;
    font-family: 'Ubuntu', sans-serif;
    font-size:70px;
    text-align:center;
    padding-top:10px;
    margin:0;
   	transform:translate(0,-100px);
   	animation:letter 0.3s linear 1s;
   	animation-fill-mode:forwards;
}
#bs{
	position:absolute;
	width:100px;
	height:60px;
	font-size:20px;
	background-color:black;
	color:white;
	border:none;
	cursor:pointer;
	top: 385px;
    left: 582px;
    border:2px solid white;
    text-align:center;
}
#bs:hover{
	background-color:white;
	color:black;
	border-color:black;
}
#bs:active{
	padding-left:0px;
}
#explain{
	width:500px;
	height:200px;
	background-color:white;
	transform:scale(0);
	transform-origin:50% 0;
	opacity:0;
	transition:all 0.5s ease;
	position:absolute;
	border:3px solid black;
	left:48px;
}
#explain h1{
	margin:0;
	text-align:center;
	font-size:20px;
	color:black;
	padding-top:25px;
}
#explain h1 ul{
	margin:0;
	padding:0;
	list-style-type:none;
	line-height:50px;
}
#menu1-contain form{
	position:absolute;
	z-index:1;
	left:400px;
	top:10px;
}
#menu1-contain input[type=text]{
	width:150px;
	padding:10px;
	font-size:20px;
	font-family:'Ubuntu', sans-serif;
	border-radius:10px;
	border:2px solid black;
	transition:all 0.5s ease;
}
#menu1-contain input[type=text]:focus{
	width:400px;
}
#menu1-contain button[type=submit]{
	background-color:black;
	color:white;
	border:2px solid white;
	font-size:20px;
	padding:10px;
	border-radius:10px;
}
#menu1-contain button[type=submit]:hover{
	border-color:black;
	color:black;
	background-color:white;
	cursor:pointer;
}
#img-wrap{
	width:1200px;
	height:600px;
	margin:auto;
	margin-left:150px;
	background-color:black;
	position:relative;
}
#img-wrap div:first-of-type{
	width:100%;
	height:70px;
	background-color:black;
	border-top:5px solid white;
	border-bottom:5px solid white;
	font-size:50px;
	font-family: 'Ubuntu', sans-serif;
	color:white;
	text-align:center;
	top:0;
}
#img-wrap >#slide{
	width:880px;
	height:495px;
	margin:auto;
	border-left:5px solid white;
	border-right:5px solid white;
	border-bottom:5px solid white;
	overflow:hidden;
}
#img-wrap >#slide>img{
	width:100%;
	animation:slide 1.5s ease-out,
				away 1.2s ease 3.5s;
}
@keyframes slide{
	from{opacity:0;}
	to{opacity:1;}
}
@keyframes away{
	from{
		opacity:1;
	}
	to{
		opacity:0;
	}
}
#img-wrap>button{
	position:absolute;
	top:45%;
	padding:0;
	cursor:pointer;
	background-color:black;
	border:none;
	opacity:0.5;
	text-align:center;
}
#img-wrap>button:hover{
	opacity:1;
}
#img-wrap>button:first-of-type{
	left: 92px;
}
#img-wrap>button:last-of-type{
	right: 92px;
}