*{
	box-sizing:border-box;
	z-index: 0;
}

body{
	width: 100vw;
	margin:0;
	height: 2200px;
	padding:0;
	overflow-x: hidden;
	position: relative;
	background-color: white;
}
#email-confirm{
	position:fixed;
	width:100vw;
	height:100vh;
	background-color:rgba(255, 255, 255,0.5);
	padding-top:20vh;
	overflow: auto;
	z-index: 2;
}
#ec-wrap{
	width:70vw;
	height:60vh;
	position: relative;
	margin:auto;
	background-color: orangered;
	display: flex;
	transform-origin: left top;
}
.drop{
	animation: drop 0.7s linear;
}
#ec-wrap #ec-quit{
	position: absolute;
	top:5px;
	right:5px;
	transition:all 0.2s linear;
	cursor: pointer;
}
#ec-quit:hover{
	transform:scale(1.2);
}
@keyframes drop{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.falldown{
	animation:fall 0.6s linear;
	animation-fill-mode: forwards;
}
@keyframes fall{
	0%{
		transform:rotate(0);
	}
	40%{
		transform: rotate(70deg);
	}
	70%{
		transform: rotate(60deg);
	}
	100%{
		transform: rotate(70deg);
	}
}
.ec-child{
	width:35vw;
	height: 60vh;
	position: relative;
}
#img-contain{
	background: url("email-cf.png") no-repeat center;
	background-size: cover;
	overflow: hidden
}
#black-fade{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:black;
	opacity: 0.6;
}
#discount{
	width: 100%;
	z-index: 2;
	margin-top: 40px;
	height: 60%;
	position: absolute;
	text-align: center;
	color: white;
	font-size:160px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}
#discount p{
	font-size: 60px;
	line-height: 20px;
	margin: 0;
}
#img-contain div:nth-of-type(3){
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 50px;
	margin-top: 280px;
}
#img-contain div:nth-of-type(3) h1{
	margin:auto;
	padding:5px;
	color: white;
	font-size: 25px;
	width:80%;
	background-color: orangered;
	text-align: center;
	font-family:  'Ubuntu', sans-serif;
}
#etext-contain{
	background:url("email.png") no-repeat center;
	background-position: center top;
	overflow: hidden;
}
#etext-contain h1{
	margin: auto;
	margin-top: 33vh;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
}
#etext-contain form{
	position: absolute;
	top:40vh;
}
#etext-contain input[type=text]{
	width:25vw;
	padding:10px;
	border: none;
	color: black;
	margin-left:20px;
	font-size:20px;
	bottom: 0;
	font-family: 'Open Sans', sans-serif;
}
#etext-contain button{
	height: 47.5px;
	background-color: black;
	border: none;
	padding: 0;
	width:8vw;
	color: white;
	font-size:22px;
	transition: all 0.5s ease;
	cursor: pointer;
	position:absolute;
	top:0;
}
#etext-contain button:hover{
	color: orangered;
}
#replace-checked{
	margin: auto;
	width: 2.8vw;
	transform: scale(0);
	animation: toBig 0.6s linear;
	animation-fill-mode: forwards;
}
@keyframes toBig{
	0%{
		transform: scale(0);
	}
	70%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
#main-menu{
	position:relative;
	width: 100%;
	height: 130px;
	background-color: white;
	z-index: 0;
}
#shop-name{
	width:250px;
	height:120px;
	font-family:  'Ubuntu', sans-serif;
	font-size: 50px;
	vertical-align:super;
	margin-left: 100px;
	padding-top:20px;
	letter-spacing: 5px;
	font-weight: bold;
}
#shop-name a{
	text-decoration: none;
	color: black;
}
#shop-name p{
	margin:0;
	padding:0;
	width: 220px;
	font-size:35px;
	text-align: right;
}
#shop-name img{
	vertical-align: sub;
	padding-right:6px;
}
#main-menu form{
	position: absolute;
	top:40px;
	display: flex;

}
#main-menu input[type=text]{
	font-size:20px;
	margin-left:800px;
	padding: 12px;
	transition:all 0.5s ease;
	border:none;
	font-style: oblique;
	width: 250px;
	background-color: #edebea;
}
#main-menu input[type=text]:focus{
	width: 500px
}
#main-menu form button{
	border:none;
	background-color: #edebea;
	width:80px;
	padding-top: 7px;
	cursor: pointer;
	transition: all 0.5s ease;
	text-align: center;
}
#main-menu form button:hover{
	background-color: orangered;
}
#main-menu form button:hover img{
	transform: scale(1.2);
}
#main-menu form button img{
	width: 20px;
	transition: all 0.5s ease;
}
#quantity{
	position: absolute;
	top:17px;
	right:150px;
	width: 30px;
	height: 30px;
	font-family: 'Ubuntu', sans-serif;
	border-radius:50%;
	background-color: orangered;
	text-align: center;
	color: white;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	padding-top: 3px;
}
#quantity:hover{
	background-color:black;
	color:orangered;
}
#cart-img{
	cursor: pointer;
	position: absolute;
	top:16px;
	transition:all 0.5s ease;
	right: 190px;	
	font-size: 30px;
}
#cart-img:hover{
	opacity: 0.6;
}
#fixed-menu{
	width: 100vw;
	background-color: white;
	height: 8vh;
	position:absolute;
	top:130px;
	z-index: 5;
}
#option-menu{
	margin-left:100px;
	width: 720px;
	display: flex;
	background-color: white;
	color: black;
	height: 100%;
}
#option-menu>div{
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
	width: 180px;
	font-size: 25px;
	font-weight: bold;
	transition: all 0.2s ease;
	padding-top: 14px;
	font-family: 'Ubuntu', sans-serif;
}
#option-menu>div:hover{
	color: orangered;
	border-bottom:3px solid black;
}
.drop-down{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color:orangered;
	background-color: white;
	border-radius: 5px;
	border-bottom:3px solid black;
	transition: all 0.5s ease;
	top:8vh;
	display: none;
	animation: moveup 0.5s ease;
}
#option-menu>div:hover .drop-down{
	display: block;
}
#games-content{
	width: 820px;
	height:360px;
}
#gears-content{
	width: 820px;
	height:360px;
}
@keyframes moveup{
	from{
		opacity: 0;
		top:12vh;
	}
	to{
		opacity: 1;
		top:8vh;
	}
}
.drop-down>div{
	float:right;
	width:320px;
	height:180px;
	padding-top:20px;
	padding-left:30px;
	text-align: left;
	position: relative;
}
.describe{
	clear:both;
	position: absolute;
	left:0;
	top:0;
	width: 180px;
	height: 360px;
	padding:0;
	margin: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: black;
	padding-top:35px;
	list-style-type:none;
}
.describe li:first-of-type{
	margin-top: 30px;
}
.describe li{
	margin-top: 10px;
	text-align: center;
	color: orangered;
	font-size:20px;
}
.drop-down>div>img{
	height:120px;

}
#gears-content>div:nth-of-type(2){
	background: url("hyperx.jpg") no-repeat center;
	background-size: cover;
}
#gears-content>div:nth-of-type(1){
	background: url("corsair.jpg") no-repeat center;
	background-size: cover;
}
#gears-content>div:nth-of-type(4){
	background: url("g502.jpg") no-repeat center;
	background-size: cover;
}
#games-content>div>h1{
	font-size:20px;
	text-align: center;
	position: absolute;
	top:25px;
	color: black;
	right:30px;
	transition: all 0.3s ease;
}
#games-content>div>h1:hover{
	color: orangered;
}
.drop-down>div:nth-of-type(3){
	text-align: center;
}
.more{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	text-align: center;
	padding:10px;
	background-color: orangered;
	color: white;
	padding-left: 50px;
	position: absolute;
	padding-right:50px;
	top:55px;
	z-index: 1;
	transition: all 0.5s ease;
	right:80px;
}
.more:hover{
	background-color: #4fed3d;
}
.black-out{
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	top:0;
	left:0;
}
#gears-content>div:nth-of-type(3){
	background: url("msi.jpg") no-repeat center;
	background-size: cover;
}
.ft{
	position: absolute;
	top:5px;
	left:5px;
	text-align: left;
	font-family: 'Ubuntu',sans-serif;
	font-size: 25px;
	color: white;
	transition: all 0.5s ease;
}
#gears-content>div:hover .ft{
	transform: translateX(90px);
	color: orangered;
}
#gears-content>div>img{
	position: absolute;
	bottom:15px;
	left:20px;
	height: 80px;
}
#spc{
	padding-left: 80px;
}
#slide-show{
	width: 1536px;
	height: 600px;
	margin:auto;
	margin-top:8vh;
	overflow: hidden;
}
#slide-show>i{
	font-size: 100px;
	color: white;
	opacity: 0.6;
	transition: all 0.2s linear;
	cursor:pointer;
	position: absolute;
	z-index: 1;
}
#slide-show>i:last-of-type{
	left:20px;
	top:53vh;
}
#slide-show>i:first-of-type{
	right:20px;
	top:53vh;
}
#slide-show>i:hover{
	opacity: 1;
}
#slide-show img{
	float:left;
	width: 100vw;
	display: block;
}
#wrap-slide{
	width: 500vw;
	height: 76vh;
	margin-left: -100vw;
}
#main-wrap{
	width: 1200px;
	top:0;
	background-color: white;	
	height: 900px;
	margin:auto;
}
#main-wrap>div{
	background-color: white;
	width: 1200px;
	height: 300px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
.content-title{
	position: absolute;
	top:10px;
	margin:0;
	left:15px;
	padding: 0;
	text-align: center;
	color:orangered;
	font-size:30px;
}
.slide-menu{
	background-color: white;
	position: absolute;
	bottom:0;
	right:0;
	width: 1000px;
	height: 250px; 
	overflow-x:hidden;
}
.move-list{
	width: 1200px;
	height: 250px;
	margin-left:0;
	cursor: pointer;
}
.item{
	float: left;
	width: 300px;
	position: relative;
	height: 250px;
	transition:all 0.2s ease;
}
.slide-menu >i{
	padding:0;
	cursor: pointer;
	font-size:80px;
	position: absolute;
	opacity: 0.7;
	color:orangered;
	top:80px;
	z-index: 1;	
	transition: all 0.2s ease;
}
.slide-menu >i:hover{
	opacity: 1;
}
.prev{
	left:5px;
}
.next{
	right:5px;
}
.imgs-contain{
	position: absolute;
	top: 0;
	width: 300px;
	height: 250px;
	z-index: 0;
	overflow: hidden;
	text-align: center;
}
.imgs-contain img{
	width: 300px;
}
.name{
	z-index: 1;
	position: absolute;
	text-align: center;
	font-size:18px;
	color:orangered;
	font-family: 'Lato', sans-serif;
	text-align: center;
	bottom:5px;
	margin:0;
	left:50%;
	max-width: 200px;
	font-weight: bold;
	letter-spacing: 2px;
	max-height: 100px;
	transform: translateX(-50%);
}
.p-contain{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	width: 0px;
	z-index: 3;
	height: 250px;
	overflow: hidden;
	left:300px;
	transition:all 0.5s ease;
}
.item:hover{
	transform: translateY(-5px);
	box-shadow: 0 5px 10px 0 black;
}
.item:hover .p-contain{
	width: 300px;
	left:0;
}
.buy,.add-to-cart{
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: orangered;
	color:white;
	font-size:26px;
	padding-top: 10px;
	border-radius:50%;
	font-weight: normal; 
	text-align: center;
	transition: all 0.3s ease;
}
.buy{
	top:100px;
	left:90px;
}
.add-to-cart{
	top:100px;
	left:160px;
}
.buy:hover{
	background-color: black;
	color:#42f4e2;
}
.add-to-cart:hover{
	background-color: black;
	color:#42f4e2;
}
.price-contain{
	position: absolute;
	width: 200px;
	height: 250px;
	background-color:orangered;
	bottom:0;
	border:3px solid black;
	display: none;
}
.logo-contain{
	width: 200px;
	margin: auto;
	height: 100px;
	padding-top:10px;
	text-align: center;
}
.logo-contain>img{
	max-height: 100px;
	max-width: 180px;
}
.old-price{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size:25px;
	color:black;
	margin:auto;
	margin-top: 2px;
	padding-top:15px;
	text-decoration: line-through;
}
.price{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size:40px;
	color:white;
	font-weight: bold;
	margin:auto;
	margin-top: 0;
}
#about{
	position: absolute;
	width: 100vw;
	height: 400px;
	background-color: #1a1a1a;
	bottom: 0;
	display:flex;
	font-family: 'Lato', sans-serif;
	flex-direction: row;
	justify-content: center;
	color: white;
}
.ai{
	width: 900px;
	margin:auto;
	text-align: left;
}
#up{
	height: 250px;
	margin-top:20px;
	margin-left: 200px;
}
#down{
	height: 350px;
	width: 500px;
	margin-right: 120px;
}
#about-store{
	width: 300px;
	height: 250px;
	display:inline-block;
	float:left;
}
#about-us{
	width: 300px;
	height: 250px;
	display:inline-block;
	margin-left: 0;
}
.ai .title{
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
}
.ai ul{
	list-style-type:none;
	margin:0;
	padding: 0;
	font-size:14px;
	text-align: center;
	line-height: 40px;
}
#about-store ul li{
	width: auto;
	cursor: pointer;
}
#about-store ul li:hover{
	text-decoration: underline;
}
#about-us ul li{
	transition: all 0.5s ease;
	cursor: pointer;
}
#about-us ul li:nth-of-type(1):hover{
	color:#4286f4;
}
#about-us ul li:nth-of-type(2):hover{
	color:#41f4dc;
}
#about-us ul li:nth-of-type(3):hover{
	color:#41f44c;
}
#about-us ul li:nth-of-type(4):hover{
	color: #e5f441;
}
#about-us ul li:nth-of-type(5):hover{
	color:orangered;
}
#about-us ul li:nth-of-type(6):hover{
	color:#774707;
}
#about-us ul li:nth-of-type(7):hover{
	color:#ff0000;
}
#fly{
	border-top:2px solid white;
	padding-top: 20px;
	position: absolute;
	display: block;
	font-size: 15px;
	bottom:120px;
	padding-right: 100px;
	padding-left: 50px;
}
#social-media{
	font-size:30px;
	text-align: center;
}
#fb{
	color:orangered;
	background-color: black;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	transition: all 0.3s ease;
	margin:auto;
	margin-top:10px;
	cursor: pointer;
	padding-top: 4px;
	display: inline-block;
}
#fb:hover{
	background-color:white;
	color:#3043b2;
}
#twit{
	color:orangered;
	background-color: black;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	transition: all 0.3s ease;
	margin:auto;
	margin-top:10px;
	cursor: pointer;
	padding-top: 4px;
	display: inline-block;
	margin-left: 8px;
}
#twit:hover{
	background-color: white;
	color:#42a4f4;
}
#git{
	color:orangered;
	background-color: black;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	transition: all 0.3s ease;
	margin:auto;
	margin-top:10px;
	cursor: pointer;
	padding-top: 2px;
	display: inline-block;
	margin-left: 8px;
}
#git:hover{
	background-color: white;
	color:#0f0f0f;
}
#google{
	color:orangered;
	background-color: black;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	transition: all 0.3s ease;
	margin:auto;
	margin-top:10px;
	cursor: pointer;
	padding-top: 2px;
	display: inline-block;
	margin-left: 8px;
}
#google:hover{
	background-color: white;
	color:#27d813;
}
.loading{
	position: absolute;
	width: 300px;
	height: 250px;
	background-color:rgba(255,255,255,0.8);
	z-index: 4;
}
.spin{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border-left:5px solid orangered;
	border-top:5px solid black;
	border-right:5px solid orangered;
	border-bottom:5px solid black;
	top:70px;
	left:125px;
	animation: spinning 0.5s linear infinite;
}
.l{
	position: absolute;
	top:120px;
	left:100px;
	font-size:25px;
}
@keyframes spinning{
	0%{
		transform: rotate(0) scale(1);
	}
	50%{
		transform: rotate(180deg) scale(1.2);
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}
#notification{
	position: absolute;
	width: 300px;
	min-height: 150px;
	max-height: 250px;
	background-color:#1a1a1a;
	top:7vh;
	right:100px;
	border-radius:5px;
	text-align: center;
	font-family: 'Lato', sans-serif; 
	font-size:18px;
	color: white;
	display: none;
	border-bottom: 3px solid orangered;
	padding-bottom: 20px;
}
#notification #pn{
	font-size: 30px;
	text-align: center;
	color:orangered;
	margin-top:5px;
}
#cart-info-contain{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	z-index:6;
	background-color:rgba(255,255,255,0.7);
	display: none;
}
#cart-info{
	position: relative;
	width: 1000px;
	height: 0px;
	background-color:#1a1a1a;
	margin:auto;
	margin-top:12vh;
	overflow-y: auto;
	border-radius: 5px;
	padding-bottom: 20px;
	display: none;
	border-bottom:5px solid orangered;
	animation: cartSlide 0.6s ease forwards;
}
#shop-name-incart{
	font-family: 'Lato', sans-serif;
	text-align: center;
	position: absolute;
	font-size: 40px;
	color: white;
	margin-bottom: 0px;
	letter-spacing: 5px;
	margin-top: 20px;
	margin-left: 100px;
}
#shop-name-incart >p{
	font-size: 25px;
	margin:0;
	text-align: right;
	width: auto;
}
#shop-name-incart >img{
	vertical-align: sub;
	width: 50px;
	padding-right: 3px;
}
#cart-info >h1:nth-of-type(2){
	font-weight: bold;
	font-size: 45px;
	text-align: center;
	color:orangered;
	position: absolute;
	top:20px;
	right:260px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 8px;
	margin-top:0;
	margin-bottom: 0;
}
#date{
	position: absolute;
	right:80px;
	top:80px;
	font-family: 'Lato', sans-serif;
	font-size:25px;
	color: white;
	letter-spacing: 5px;
}
.product{
	width: 700px;
	margin-left:40px;
	height: 125px;
	font-family: 'Lato', sans-serif;
	position: relative;
	font-size:20px;
	clear: both;
	padding-left: 10px;
	margin-top:20px;
}
#bait{
	margin-top:150px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: white;
	margin-left:40px;
}
#bait>div{
	text-align: center;
	float:left;
	margin-left: 20px;
	padding-left: 14px;
}
#bait>div:nth-of-type(1){
	width: 60px;
	height: 30px;
}
#bait>div:nth-of-type(2){
	width: 224px;
	height: 30px;
}
#bait>div:nth-of-type(3){
	width: 50px;
	height: 30px;
}
#bait>div:nth-of-type(4){
	width: 260px;
	height: 30px;
}
.product >div{
	float:left;
	margin-left:20px;
}
.product .order{
	font-size: 25px;
	text-align: center;
	color: white;
	width: 60px;
	height: 100%;
	padding-top:40px;
}
.product .pic{
	width:224px;
	overflow:hidden;
	border-radius: 8px;
	border:3px solid white;
	height:126px;
}
.product .pic img{
	width: 224px;
}
.product .quantity{
	width: 50px;
	height: 100%;
	text-align: center;
	color:white;
	padding-top:40px;
	font-size:25px;
}
.product .pname{
	width: 260px;
	height: 100%;
	padding-top:20px;
	color:white;
	font-size:25px;
	text-align: center;
}
.product i{
	color:white;
	font-size:15px;
	cursor: pointer;
	transition: all 0.2s ease;
}
.product i:hover{
	color:red;
}
#total-contain{
	width: 200px;
	height: 100px;
	color:white;
	font-size:25px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin:auto;
	margin-bottom:20px;
}
#total-contain h1{
	display: inline-block;
	margin:0;
	font-size: 25px;
	padding-top: 10px;
}
#right-wrap{
	width: 250px;
	position: absolute;
	top:200px;
	right: 0;
}
@keyframes cartSlide{
	from{
		height: 0;
	}
	to{
		height: 610px;
	}
}
#keep{
	width: 150px;
	text-align: center;
	color: white;
	height: 50px;
	font-size: 20px;
	padding-top:12px;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 5px;
	background: orangered;
	font-weight: bold;
	margin:auto;
}
#pur{
	width: 150px;
	text-align: center;
	color: white;
	height: 50px;
	font-size: 20px;
	padding-top:12px;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
	background: orangered;
	transition: all 0.3s ease;
	border-radius: 5px;
	font-weight: bold;
	margin:auto;
	margin-top:20px;
}
#keep:hover ,#pur:hover{
	background-color: black;
	color:#41f44a;
}
#noti-contain{
	position: fixed;
	background-color:rgba(255,255,255,0.8);
	width: 100vw;
	height: 100vh;
	z-index: 7;
	top:0;
	display: none;
}
#noti{
	position: relative;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 200px;
	background-color:#1a1a1a;
	border-bottom: 5px solid orangered;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
}
#noti >h1:first-of-type{
	text-align: center;
	margin:auto;
	font-size:35px;
	color:white;
	font-weight: bold;
	letter-spacing: 5px;
}
#noti >h1:nth-of-type(2){
	color: #42f4d7;
	margin:auto;
	text-align: center;
	font-size:20px;
	padding-left:15px;
	padding-right:15px;
	margin-top:20px;
	letter-spacing: 2px;
}
#yes{
	width: 80px;
	height: 40px;
	text-align: center;
	font-size:30px;
	color:white;
	position: absolute;
	background-color: orangered;
	font-family: 'Lato', sans-serif;
	border-radius: 5px;
	transition: all 0.3s ease;
	padding-top: 2px;
	bottom:25px;
	left:100px;
    cursor: pointer;
}
#no{
	width: 80px;
	height: 40px;
	text-align: center;
	font-size:30px;
	color:white;
	position: absolute;
	background-color: orangered;
	font-family: 'Lato', sans-serif;
	border-radius: 5px;
	transition: all 0.3s ease;
	padding-top: 2px;
	cursor: pointer;
	bottom:25px;
	right:100px;
}
#yes:hover{
	background-color: black;
	color: #41f44a;
}
#no:hover{
	background-color: black;
	color: red ;
}
#loading-contain{
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	font-family: 'Lato', sans-serif;
	position: absolute;
	width: 400px;
	height: 200px;
	top:0;
	display: none;
	z-index: 1;
}
#loading-contain>h1{
	color:#1a1a1a;
	font-size: 25px;
}
#loading-contain div{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border-left:5px solid orangered;
	border-top:5px solid black;
	border-right:5px solid orangered;
	border-bottom:5px solid black;
	animation: spinning 0.5s linear infinite;
	margin: auto;
	margin-top:60px;
}
#back-top{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: fixed;
	background-color: orangered;
	border: 3px solid white;
	display: none;
	text-align: center;
	right:20px;
	bottom:50px;
	font-size: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
}
#back-top:hover{
	color:#42f4d7;
	background-color:#1a1a1a;
}