*{
	box-sizing:border-box;
}
html{
	background:url("cover.jpg") no-repeat center fixed;
	background-size:cover;
}
body{
	margin:0;
	padding:0;
}
#container{
	width:1000px;
	height:600px;
	margin:auto;
	margin-top:100px;
	background-color:#070707;
	border-radius:15px;
	border:5px groove white;
}
#title{
	width:1000px;
	height:120px;
	color:white;
	padding-top:20px;
	text-align:center;
	font-size:80px;
	font-family: 'Mogra', cursive;
	font-weight:bold;
}
#time-contain{
	font-size:50px;
	height:200px;
	width:200px;
	font-family: 'Ubuntu', sans-serif;
	color:white;
	margin-left:0;
	text-align:center;
	display:inline-block;
	margin-top:80px;
	font-weight:bold;
}
#content{
	height:470px;
	width:790px;
	/*background-color:red;*/
	font-family: 'Ubuntu', sans-serif;
	display:inline-block;
	position:absolute;
	color:white;
}
#content>div:first-of-type{
	position:absolute;
	width:200px;
	height:70px;
	bottom:0;
	font-size:40px;
	right:0;
	padding-top:5px;
	text-align:center;
}
#quiz{
	font-size:25px;
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
	padding:5px;
	width:790px;
	height:70px;
	border-bottom:3px solid white;
	color:white;
	position:absolute;
	top:0;
	left:0;
}
#direct{
	position:absolute;
	bottom:0;
	left:0;
	font-family: 'Ubuntu', sans-serif;
	height:70px;
	width:580px;
	padding-top:10px;
	padding-left:100px;
}
#direct>button{
	display:inline-block;
	width:180px;
	cursor:pointer;
	height:50px;
	color:white;
	border:2px solid white;
	padding-top:2px;
	background-color:white;
	transition:all 0.5s ease;
}
#direct>button>img{
	height:40px;
}
#direct>button:first-of-type:active{
	padding-right:40px;
}
#direct>button:last-of-type:active{
	padding-left:40px;
}
#direct>button:hover{
	transform:scale(1.1);
}
#ans{
	position:absolute;
	width:790px;
	height:308px;
	left:0;
	top:80px;
	padding:5px;
	padding-top:10px;
}
#ans button{
	display:block;
	width:785px;
	font-size:40px;
	height:70px;
	color:block;
	text-align:left;
	border:none;
	transition:background-color 0.4s ease,
				color 0.4s ease;
	background-color:white;
	cursor:pointer;
	position:relative;
}
#ans button:hover{
	border:2px solid white;
	background-color:black;
	color:white;
}
#ans button>h1{
	margin:0;
	padding:0;
	display:inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-size:40px;
}
#ans button>img{
	position:absolute;
	right:5px;
	top:15px;
	width:35px;
	animation:bigger 1s ease;
}
@keyframes bigger{
	0%{
		transform:scale(1);
	}
	80%{
		transform:scale(1.5);
	}
	100%{
		transform:scale(1);
	}
}
.empty{
	display:none;
}
.full{
	display:block;
	position:absolute;
	width:100%;
	top:0;
	height:100%;
}
.full>div:first-child{
	width:100%;
	height:100%;
	background-color:white;
	opacity:0.6;
}
#circle{
	top:260px;
	left:770px;
	width:60px;
	height:60px;
	position:absolute;
	border-radius:50%;
	background-color:#000000
;
}
#spinner{
	width:70px;
	height:70px;
	position:absolute;
	left:-5px;
	top:-5px;
	border-radius:50%;
	border:5px solid transparent;
	border-top-color:orangered;
	border-bottom-color:orangered;
	animation:	spin 1s linear infinite;
}
.full>h1{
	position:absolute;
	font-size:30px;
	color:black;
	top:340px;
	left:740px;
	font-family: 'Ubuntu', sans-serif;
}
@keyframes spin{
	0%{
		transform:rotate(0deg) scale(1);
	}
	50%{
		transform:rotate(180deg) scale(1.2);
	}
	100%{
		transform:rotate(360deg) scale(1);
	}
}
#slo{
	position:absolute;
	font-family: 'Ubuntu', sans-serif;
	font-size:70px;
	font-weight:bold;
	transition:all 1s ease;
	color:white;
	width:auto;
	transform-origin:center;
	left:635px;
	cursor:pointer;
	display:block;
}
#slo:hover{
	transform:rotateZ(360deg);
}
#container>#adu{
	position:absolute;
	font-family: 'Ubuntu', sans-serif;
	font-size:60px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	display:block;
	left:550px;
	top:373px;
}
#direction{
	position:absolute;
	width:990px;
	height:150px;
	bottom:75px;
}
#direction a{
	display:inline-block;
	width:240px;
	cursor:pointer;
	height:60px;
	background-color:black;
	text-align:center;
	text-decoration:none;
	border:3px solid white;
	font-size:40px;
	padding:5px;
	transition:all 0.5s ease;
	color:white;
	font-family: 'Ubuntu', sans-serif;
}
#direction a:first-child{
	margin-left:260px;
}
#direction a:hover{
	animation:colorch 0.5s ease alternate infinite;
}
@keyframes colorch{
	from{
		background-color:black;
		color:white;
	}
	to{
		color:black;
		background-color:white;
	}
}